.App {
  max-width: 1200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.22);
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.Task-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Task-box__head {
  background: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  overflow-x: auto;
  padding: 0px 20px;
  align-items: center;
}

.Task-box__head::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Group-list__item {
  background: #4A4A4A;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #F3F3F3;
  color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 100px;
  padding: 10px 8px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.Group-list__item_active {
  background: #F3F3F3;
  border-color: #F3F3F3;
  color: #4A4A4A;
}

.Group-list__item:hover {
  opacity: 0.9;
}

.New-group {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 0;
  border-radius: 40px;
  margin-left: 8px;
  position: sticky;
  right: 0px;
  /* border: 1px solid #F3F3F3; */
}

.New-group:hover {
  background-color: #F3F3F3;
  color: #4A4A4A;
}

/* Task-box__body */
.Task-box__body {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #4A4A4A;
  border-top: 0;
  border-bottom: 0;
  position: relative;
}

/* Task-box__button_new-task */

.Task-box__button_new-task{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 100%;
  font-weight: 900;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  opacity: 0.5;
  border-radius: 100%;
  color: #4A4A4A;
  background-color: #cbcbcb;
  transition: 0.4s;
}
.Task-box__button_new-task:hover{
  opacity: 1;
}

/* wrapper */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4a4a6f;
  transition: 0.4s;
  z-index: 10;
}

.NewGroup-Box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.22);
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  padding: 30px 16px;
  transition: 0.3s;
}

.NewGroup-Box__clouse {
  position: absolute;
  top: 16px;
  right: 16px;
}

.NewGroup-Box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.NewGroup-Box__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}


.NewGroup-Box__form input {
  border: 1px solid #4A4A4A;
  border-radius: 6px;
  padding: 16px 8px;
}

.NewGroup-Box__form button {
  padding: 16px;
  background-color: #4A4A4A;
  color: #F3F3F3;
  border-radius: 6px;
}

/*NewTask-Box */
.NewTask-Box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.22);
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  padding: 30px 16px;
  transition: 0.3s;
}

/* Task-List */

.Task-List{
  padding: 8px;
}

/* TaskItem */
.Task__item{
  background-color: white;
  box-shadow: 0 0 16px rgba(184, 184, 184, 0.22);
  display: flex;
  gap: 8px;
  border-radius: 8px;
}
.Task__text{
  flex-grow: 1;
  padding: 8px;
  resize: none;
}
.Task__meneger{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Task__meneger input, .Task__meneger select{
  width: 100%;
}
.Task__item *{
  /* pointer-events: none; */
}

/*  */
._hide {
  visibility: hidden;
  opacity: 0;
}

._show {
  visibility: visible;
  opacity: 1;
}